# Node modules
/node_modules/

# Build output
/dist/

# Vite cache
/.vite/

# PostCSS cache (if any)
.postcss.cache/

# IDE and editor specific files
/.idea/
/.vscode/
/*.sublime-project
/*.sublime-workspace

# Logs
*.log

# Dependency directories
pnpm-lock.yaml
yarn.lock

# Environment files
.env
.env.local
.env.*.local

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Coverage
/coverage/

# Typescript cache
*.tsbuildinfo

# Misc
*.swp
*.swo
*.swn
